<div class="container mx-auto w-[1080px]">
  <div class="mt-[2rem] text-center text-[2rem]">Thay Đổi Mật Khẩu</div>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="form"
    novalidate
  >
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Mật Khẩu Cũ</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password"
        [type]="hideOne ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOne = !hideOne"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOne"
      >
        <mat-icon>{{ hideOne ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'password')"> Mật Khẩu Cũ <strong>required</strong> </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'password')">
        Mật Khẩu Cũ Phải Có Độ Dài 6 Ký Tự Trở Lên
      </mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Mật Khẩu Mới</mat-label>
      <input
        matInput
        formControlName="newPassword"
        type="password"
        placeholder="Enter your NewPassword"
        [type]="hideTwo ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideTwo = !hideTwo"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideTwo"
      >
        <mat-icon>{{ hideTwo ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'newPassword')">
        Mật Khẩu Mới <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'newPassword')"> Mật Khẩu Mới Phải 6 Ký Tự Trở Lên </mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Xác Nhận Mật Khẩu Mới</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm your password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'confirmPassword')">
        Xác Nhận Mật Khẩu Mới <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'confirmPassword')">
        Xác Nhận Mật Khẩu Mới Phải 6 Ký Tự Trở Lên
      </mat-error>

      <mat-error
        *ngIf="
          myForm.hasError('passwordMismatch') &&
          (myForm.get('confirmPassword')?.touched || myForm.get('confirmPassword')?.dirty)
        "
      >
        Mật Khẩu Mới và Xác Nhận Mật Khẩu Mới Không Giống Nhau
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
      [disabled]="!myForm.valid"
    >
      Thay Đổi Mật Khẩu Ngay
    </button>
  </form>
</div>
