.SbCTde {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

.GsuIol {
  margin-bottom: 8px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.EHan\+5 {
  padding: 12px 0px 0;
  background: #fff;
}

.OIBd-J {
  padding: 18px 0 20px;
}

.RnMqRZ {
  display: flex;
}

.RnMqRZ:last-child {
  border-bottom: 0;
}

._70j3aj {
  min-width: 0;
  width: 100%;
}

._7lC5y1 {
  margin-bottom: 4px;
}

.fVHv1Z {
  justify-content: space-between;
}

.XBSydm {
  margin-right: 8px;
}

.DikMLj {
  flex-grow: 1;
  overflow-x: hidden;
}

.DikMLj,
.fVHv1Z,
.IsnjAd,
.oSiOlj {
  display: flex;
}

.Tv2wKj {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  line-height: 1.5rem;
}

.uBRQwt {
  font-weight: 500;
  min-width: 0;
}

.uBRQwt {
  display: inline-flex;
}

.IsnjAd,
.uBRQwt {
  align-items: center;
}

.YD3W3V {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xbIya3 {
  border-left: 0.5px solid rgba(0, 0, 0, 0.26);
  margin: 0 8px;
}

._9Gtqqd,
.L8KYK3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.L8KYK3 {
  color: rgba(0, 0, 0, 0.54);
}

.Ayh0hN {
  white-space: nowrap;
}

.oSiOlj {
  flex-basis: 40px;
}

.oSiOlj {
  justify-content: flex-end;
}

.tXBaRL {
  border: 0;
  background: none;
  outline: none;
  padding: 4px;
  color: #08f;
  white-space: nowrap;
}

.tiDOor {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

._5IKb-F,
.tiDOor {
  color: rgba(0, 0, 0, 0.54);
}

.DmXQ31:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.mgW0lg {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 4px 12px;
  height: 28px;
  min-width: 0;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid rgba(0, 0, 0, 0.26) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03) !important;
  white-space: nowrap !important;
}

.PEXLbW,
.q4sbrS {
  background-color: #fff;
}

.PEXLbW {
  border: 1px solid #ee4d2d;
  color: #ee4d2d;
}

.DmXQ31 {
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 10px;
  border: 0;
  background: none;
  border-radius: 2px;
  min-width: 140px;
  font-size: 14px;
  cursor: pointer;
}

.TArgaE {
  margin-top: 4px;
}

.TArgaE {
  flex-wrap: wrap;
}

.fZIR8\+:last-child {
  margin-right: 0;
}

.gXV\+gD {
  color: #ee4d2d;
  border-color: #ee4d2d;
}

.fZIR8\+ {
  margin: 0 4px 4px 0;
}

.wIyMUR {
  border-radius: 1px;
  padding: 2px 4px;
  border: 0.5px solid;
}
