<div class="container mx-auto w-[1440px] my-5">
  <div class="flex items-start justify-center gap-5">
    <div>
      <app-user-sidebar-profile></app-user-sidebar-profile>
    </div>
    <div class="pl-10 ml-10 border-l">
      <div class="flex items-center justify-between">
        <div class="SbCTde">Địa Chỉ Của Tôi</div>

        <a
          routerLink="/user/profile/addAddress"
          *ngIf="user.addresses.length > 0 && user.addresses.length < 2"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
          ><i class="mr-2 fa-solid fa-plus"></i> <span>Thêm Địa Chỉ Mới</span></a
        >
      </div>
      <div class="w-[840px] h-[500px]">
        <div class="EHan+5">
          <div class="GsuIol">Địa chỉ</div>
          <ng-container *ngFor="let item of user.addresses">
            <div class="RnMqRZ OIBd-J">
              <div class="_70j3aj">
                <div class="_7lC5y1 fVHv1Z">
                  <div class="XBSydm DikMLj">
                    <span class="Tv2wKj uBRQwt">
                      <div class="YD3W3V">{{ user.firstName + ' ' + user.lastName }}</div>
                    </span>
                    <div class="xbIya3"></div>
                    <div class="Ayh0hN L8KYK3 IsnjAd">(+84) {{ user.phoneNumber }}</div>
                  </div>
                  <div class="oSiOlj">
                    <button class="tXBaRL">
                      <a routerLink="/user/profile/updateAddress/{{ item._id }}">Cập Nhật</a>
                    </button>
                    <button
                      class="tXBaRL"
                      (click)="removeAddress(item._id, item.status)"
                    >
                      Xóa
                    </button>
                  </div>
                </div>
                <div class="_7lC5y1 fVHv1Z">
                  <div class="XBSydm DikMLj">
                    <div class="tiDOor">
                      <div class="IsnjAd">
                        {{ 'Quận ' + item.city + ', Thành phố ' + item.state + ', Đất nước ' + item.country }}
                      </div>
                      <div class="IsnjAd">{{ item.address }}</div>
                    </div>
                  </div>
                  <div class="iI3vH9 oSiOlj">
                    <button
                      class="mgW0lg DmXQ31 PEXLbW"
                      [disabled]="item.status === true"
                      (click)="handleStatusAddress(item)"
                    >
                      Thiết lập mặc định
                    </button>
                  </div>
                </div>
                <div
                  class="TArgaE IsnjAd"
                  *ngIf="item.status === true"
                >
                  <div class="fZIR8+ gXV+gD wIyMUR">Mặc định</div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        class="text-center"
        *ngIf="user.addresses?.length === 0"
      >
        <div class="py-2 text-xl font-medium">Chưa Có Địa Chỉ</div>
        <div class="my-3">
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
            routerLink="/user/profile/addAddress"
            ><i class="mr-2 fa-solid fa-plus"></i> <span>Thêm Địa Chỉ Mới</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
