<div class="container mx-auto">
  <div class="mt-[2rem] text-center text-[2rem]">Đặt lại mật khẩu</div>
  <div class="_3M9lzn">
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="_9ZCM-m J1i6cp">
        <div class="gZNAGg">
          <div class="ZqWCFj">
            <button
              class="qbdGVt"
              (click)="backLogin()"
            >
              <i class="fa-solid fa-arrow-left _0ZvPo8"></i>
            </button>
            <div class="v2Lbca Efn4Xp">
              <div class="GpqIkE">Đặt lại mật khẩu</div>
            </div>
          </div>
        </div>
        <div class="ZQ3gL6">
          <div class="yXry6s B-fiUo">
            <div class="yup5K8">
              <input
                type="text"
                placeholder="Email"
                autocomplete="off"
                maxlength="128"
                aria-invalid="false"
                class="pDzPRp"
                formControlName="email"
                name="email"
              />
            </div>
            <div *ngIf="myForm.get('email')!.invalid && (myForm.get('email')!.dirty || myForm.get('email')!.touched)">
              <div
                class="pYVjxt"
                *ngIf="myForm.get('email')!.errors!['required']"
              >
                Email không được để trống
              </div>
              <div
                class="pYVjxt"
                *ngIf="myForm.get('email')!.errors!['email']"
              >
                Email không hợp lệ
              </div>
            </div>
            <button
              class="wyhvVD _1EApiB hq6WM5 L-VL8Q cepDQ1 _7w24N1"
              type="submit"
              [disabled]="myForm.invalid"
              [class.disabled-button]="myForm.invalid"
            >
              Tiếp theo
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
