<div class="container mx-auto">
  <div class="mt-[2rem] text-center text-[2rem]">Đặt lại mật khẩu</div>
  <div class="_3M9lzn">
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="_9ZCM-m J1i6cp">
        <div class="gZNAGg">
          <div class="ZqWCFj">
            <div class="v2Lbca Efn4Xp">
              <div class="GpqIkE">Nhập lại mật khẩu mới</div>
            </div>
          </div>
        </div>
        <div class="ZQ3gL6">
          <div class="yXry6s B-fiUo">
            <div class="yup5K8">
              <input
                type="text"
                placeholder="Mật khẩu mới"
                autocomplete="off"
                aria-invalid="false"
                class="pDzPRp"
                formControlName="newPassword"
                name="newPassword"
              />
            </div>
            <div
              *ngIf="
                myForm.get('newPassword')!.invalid &&
                (myForm.get('newPassword')!.dirty || myForm.get('newPassword')!.touched)
              "
            >
              <div
                class="pYVjxt"
                *ngIf="myForm.get('newPassword')!.errors!['required']"
              >
                Mật khẩu mới không được để trống
              </div>
              <div
                class="pYVjxt"
                *ngIf="myForm.get('newPassword')!.errors && myForm.get('newPassword')!.errors!['minlength']"
              >
                Mật khẩu mới phải 6 ký tự trở lên
              </div>
            </div>
            <button
              class="wyhvVD _1EApiB hq6WM5 L-VL8Q cepDQ1 _7w24N1"
              type="submit"
              [disabled]="myForm.invalid"
              [class.disabled-button]="myForm.invalid"
            >
              Đồng ý
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
