._3M9lzn {
  margin: 0 auto;
  min-height: 600px;
  width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._9ZCM-m {
  min-height: 275px;
}

.J1i6cp {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  overflow: hidden;
  width: 500px;
}

.gZNAGg {
  box-sizing: border-box;
  min-height: 80px;
}

._3051nA,
.gZNAGg {
  justify-content: space-between;
}

._3051nA,
.gZNAGg,
.lhhucE {
  display: flex;
}

.gZNAGg,
.lhhucE {
  align-items: center;
}

.ZqWCFj {
  box-sizing: initial;
  width: 100%;
}

.Efn4Xp,
.qbdGVt,
.ZqWCFj {
  display: flex;
}

.qbdGVt,
.ZqWCFj {
  align-items: center;
}

.qbdGVt {
  width: 80px;
  border: 0;
  background-color: initial;
  justify-content: center;
}

._0ZvPo8 {
  color: #ee4d2d;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 28px;
}

.v2Lbca {
  flex: 1;
  font-size: 1.25rem;
  color: #222;
  padding-right: 20px;
  max-width: calc(100% - 140px);
}

.Efn4Xp {
  justify-content: center;
}

.GpqIkE {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yXry6s.B-fiUo {
  padding: 0 80px 64px;
}

.yXry6s {
  padding: 0 30px 30px;
  overflow: hidden;
}

.yup5K8 {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
}

.yup5K8 {
  align-items: center;
  display: flex;
}

.pDzPRp {
  padding: 0.75rem;
  outline: none;
  border: 0;
  flex: 1;
  flex-shrink: 0;
  filter: none;
}

.pYVjxt {
  margin: 0;
  padding: 0.25rem 0 0 !important;
  font-size: 0.75rem !important;
  color: #ff424f;
  min-height: 1rem !important;
}

.ZQ3gL6 {
  margin: 20px auto 5px;
}

.L-VL8Q {
  width: 100%;
}

._7w24N1 {
  color: #fff;
  background-color: #ee4d2d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

.hq6WM5 {
  text-transform: uppercase;
}

.cepDQ1 {
  height: 2.5rem;
  min-width: 8.75rem;
}

.L-VL8Q {
  width: 100%;
}

._7w24N1 {
  color: #fff;
  background-color: #ee4d2d !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

.hq6WM5 {
  text-transform: uppercase;
}

.cepDQ1 {
  height: 2.5rem;
  min-width: 8.75rem;
}

._1EApiB {
  outline: none;
  padding: 0 0.625rem;
  border: 0;
  background: none;
  border-radius: 0.125rem;
}

.cepDQ1,
.wyhvVD {
  justify-content: center;
}

.wyhvVD {
  align-items: center;
  display: flex;
}

.disabled-button {
  opacity: 0.7;
  /* Thay đổi giá trị opacity theo yêu cầu của bạn */
  cursor: not-allowed;
}
