<div class="container mx-auto w-[800px]">
  <div class="mt-[2rem] text-center text-[2rem]">Đăng Nhập</div>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="form"
    novalidate
  >
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Enter your email"
      />
      <mat-error *ngIf="myForm.hasError('required', 'email')"> Email <strong>Không Được Để Trống</strong></mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'email')"> Email Phải 6 Ký Tự Trở Lên </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'email')"> Email Phải 30 Ký Tự Trở Xuống</mat-error>
      <mat-error *ngIf="myForm.hasError('email', 'email')"> Email Phải Đúng Định Dạng </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Mật Khẩu</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password"
        [type]="hideOne ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOne = !hideOne"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOne"
      >
        <mat-icon>{{ hideOne ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'password')">
        Mật Khẩu <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'password')"> Mật Khẩu Phải 6 Ký Tự Trở Lên </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'password')"> Mật Khẩu Phải 30 Ký Tự Trở Xuống</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
      [disabled]="!myForm.valid"
    >
      Đăng Nhập
    </button>
  </form>
  <div class="tRiWov">
    <a
      class="anLGcx"
      routerLink="/buyer/reset"
      >Quên mật khẩu</a
    >
    <a
      class="anLGcx"
      routerLink="/buyer/register"
      >Đăng ký</a
    >
  </div>
  <div class="_6yKazv">
    <div class="lhhucE">
      <div class="lreZhl"></div>
      <span class="PqS8vj">Hoặc</span>
      <div class="lreZhl"></div>
    </div>
    <div class="flex items-center justify-center mt-1">
      <button
        class="nGTAZw lyJbNT bQ2eCN"
        (click)="signInWithFacebook()"
      >
        <div class="Bq4Bra">
          <div class="_1a550J social-white-background social-white-fb-blue-png"></div>
        </div>
        <div>Facebook</div>
      </button>
      <button
        class="nGTAZw lyJbNT bQ2eCN"
        (click)="signInWithGoogle()"
      >
        <div class="Bq4Bra">
          <div class="_1a550J social-white-background social-white-google-png"></div>
        </div>
        <div>Google</div>
      </button>
    </div>
  </div>
</div>
