<div class="container mx-auto w-[1080px]">
  <div class="mt-[2rem] text-center text-[2rem]">Đăng Ký</div>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="form"
    novalidate
  >
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Họ</mat-label>
      <input
        matInput
        formControlName="firstName"
        type="firstName"
        placeholder="Enter your firstName"
      />
      <mat-error *ngIf="myForm.hasError('required', 'firstName')"> Họ <strong>Không Được Để Trống</strong> </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'firstName')"> Họ Phải 30 Ký Tự Trở Xuống </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Tên</mat-label>
      <input
        matInput
        formControlName="lastName"
        type="lastName"
        placeholder="Enter your lastName"
      />
      <mat-error *ngIf="myForm.hasError('required', 'lastName')"> Tên <strong>Không Được Để Trống</strong></mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'lastName')"> Tên Phải 30 Ký Tự Trở Xuống</mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Enter your email"
      />
      <mat-error *ngIf="myForm.hasError('required', 'email')"> Email <strong>Không Được Để Trống</strong></mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'email')"> Email Phải 6 Ký Tự Trở Lên </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'email')"> Email Phải 30 Ký Tự Trở Xuống</mat-error>
      <mat-error *ngIf="myForm.hasError('email', 'email')"> Email Phải Đúng Định Dạng </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Mật Khẩu</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password"
        [type]="hideOne ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOne = !hideOne"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOne"
      >
        <mat-icon>{{ hideOne ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'password')">
        Mật Khẩu <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'password')"> Mật Khẩu Phải 6 Ký Tự Trở Lên </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'password')"> Mật Khẩu Phải 30 Ký Tự Trở Xuống</mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Xác Nhận Mật Khẩu</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm your password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'confirmPassword')">
        Xác Nhận Mật Khẩu <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'confirmPassword')">
        Xác Nhận Mật Khẩu Phải 30 Ký Tự Trở Xuống
      </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'confirmPassword')">
        Xác Nhận Mật Khẩu Phải 6 Ký Tự Trở Lên
      </mat-error>
      <mat-error
        *ngIf="
          myForm.hasError('passwordMismatch') &&
          (myForm.get('confirmPassword')?.touched || myForm.get('confirmPassword')?.dirty)
        "
      >
        Mật Khẩu và Xác Nhận Mật Khẩu Không Giống Nhau
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Số Điện Thoại</mat-label>
      <input
        matInput
        formControlName="phoneNumber"
        type="phoneNumber"
        placeholder="Enter your phoneNumber"
      />
      <mat-error *ngIf="myForm.hasError('required', 'phoneNumber')">
        Số Điện Thoại <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'phoneNumber')"> Số Điện Thoại Phải 10 Ký Tự </mat-error>
      <mat-error *ngIf="myForm.hasError('maxlength', 'phoneNumber')"> Số Điện Thoại Phải 10 Ký Tự </mat-error>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <label
      class="w-[200px] flex items-center px-4 py-2 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer my-5 hover:bg-blue-500 hover:text-white"
    >
      <svg
        class="w-8 h-8 mr-3"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
        />
      </svg>
      <span class="mt-2 text-base leading-normal">Ảnh Đại Diện</span>
      <input
        type="file"
        class="hidden file-upload"
        (change)="onFileSelected($event)"
      />
    </label>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
      [disabled]="!myForm.valid"
    >
      Đăng Ký
    </button>
  </form>
</div>
