<div>
  <a
    class="+1U02e qyt-aY"
    routerLink="/user/profile/changeInformation"
  >
    <div class="flex items-center mb-[10px]">
      <div class="bfikuD">
        <img
          src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4"
          alt=""
        />
      </div>
      <div>Tài khoản của tôi</div>
    </div>
  </a>
  <ng-container>
    <div class="Yu7gVR">
      <a
        class="FEE-3D"
        routerLink="/user/profile/changeInformation"
        appToggleClassOnClick
        ><span class="qyt-aY">Hồ sơ</span></a
      >
      <a
        class="FEE-3D"
        routerLink="/user/profile/myAddress"
        appToggleClassOnClick
        ><span class="qyt-aY">Địa chỉ</span></a
      >
      <a
        class="FEE-3D"
        routerLink="/user/profile/changePassword"
        appToggleClassOnClick
        ><span class="qyt-aY">Đổi mật khẩu</span></a
      >
    </div>
  </ng-container>

  <a
    class="+1U02e qyt-aY"
    routerLink="/user/purchase"
  >
    <div class="flex items-center">
      <div class="bfikuD">
        <img
          src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078"
          alt=""
        />
      </div>
      <div>Đơn mua</div>
    </div>
  </a>
</div>
