<div class="example-container">
  <h1 class="text-center">Thêm Thể Loại</h1>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <mat-form-field
      appearance="fill"
      class="form-field"
    >
      <mat-label>Tên Thể Loại</mat-label>
      <input
        matInput
        placeholder="Name Category"
        required
        formControlName="nameCategory"
      />
      <mat-error *ngIf="myForm.hasError('required', 'nameCategory')">
        Tên Thể Loại <strong>Không Được Để Trống</strong>
      </mat-error>
      <mat-error *ngIf="myForm.hasError('minlength', 'nameCategory')"> Tên Thể Loại Phải 6 Ký Tự Trở Lên </mat-error>
      <mat-error *ngIf="myForm.hasError('whitespace', 'nameCategory')">
        Tên Thể Loại Không Được Chứa Khoảng Trắng
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form-field"
      appearance="fill"
    >
      <mat-label>Mô Tả</mat-label>
      <textarea
        matInput
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="myForm.hasError('required', 'description')">
        Mô Tả<strong> Không Được Để Trống</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
      [disabled]="!myForm.valid"
    >
      Thêm Thể Loại Ngay
    </button>
  </form>
</div>
