.shopee-sort-bar {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
  padding: 0.8125rem 1.25rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopee-sort-bar__label {
  color: #555;
  margin: 0 0.3125rem 0 0;
}

.shopee-sort-by-options {
  display: flex;
  align-items: stretch;
  flex: 1;
  justify-content: flex-start;
}

.shopee-sort-by-options__option {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex: 0 0 5.625rem;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0 0.9375rem;
  background: #fff;
  white-space: nowrap;
  margin-left: 0.625rem;
  box-sizing: border-box;
}

.shopee-sort-by-options__option--selected.shopee-sort-by-options__option {
  color: #fff;
  background: #ee4d2d;
}

.shopee-sort-by-options .select-with-status__holder,
.shopee-sort-by-options__option {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  height: 2.125rem;
  line-height: 2.125rem;
  border-radius: 2px;
  border: 0;
  padding: 0 15px;
  margin-left: 10px;
}

.shopee-sort-by-options .select-with-status {
  min-width: 12.5rem;
  margin-left: 0.625rem;
}

.shopee-sort-by-options .select-with-status__holder,
.shopee-sort-by-options__option {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  height: 2.125rem;
  line-height: 2.125rem;
  border-radius: 2px;
  border: 0;
}

.select-with-status__placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0.625rem 0 0.75rem;
  padding: 0;
  width: 100%;
  height: 100%;
}

.shopee-sort-by-options .select-with-status__holder {
  margin: 0;
  background: #fff;
}

.icon-arrow-down-small {
  width: 0.75rem;
  fill: #555;
  margin-right: 0.75rem;
}

.select-with-status__holder {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  transition: border-color 0.1s ease;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 0.625rem;
}

.ite_txt_right {
  /* color: #0d0e0f; */
  text-transform: uppercase;
  font-size: 15px;
  overflow: hidden;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: calc(15px * 1 * 1.4);
  display: -webkit-box;
  max-width: 200px;
}
