.form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 600px;
  margin-bottom: 20px;
}

.submit-button {
  padding-top: 8px;
  width: 200px;
}

.btn--m {
  height: 40px;
  padding: 0 20px;
  min-width: 70px;
  max-width: 220px;
}

.btn-light {
  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09) !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03) !important;
}

.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
  cursor: pointer;
}

.btn--inline {
  display: inline-flex;
}

.btn-light:active,
.btn-light:hover {
  background: rgba(0, 0, 0, 0.02);
}

.SlaeTm {
  color: #999;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.SbCTde {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

.zptdmA {
  margin-top: 0.1875rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555;
}
