<!-- Main navigation container -->
<nav
  class="flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 lg:flex-wrap lg:justify-start lg:py-4"
>
  <div class="flex flex-wrap items-center justify-between w-full px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block px-2 bg-transparent border-0 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>

    <!-- Collapsible navigation container -->
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent1"
      data-te-collapse-item
    >
      <!-- Left navigation links -->
      <ul
        class="flex flex-col pl-0 mr-auto list-style-none lg:flex-row"
        data-te-navbar-nav-ref
      >
        <li
          class="mb-4 lg:mb-0 lg:pr-2"
          data-te-nav-item-ref
        >
          <!-- Dashboard link -->
          <a
            class="text-neutral-500 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400"
            routerLink="/"
            data-te-nav-link-ref
            >Books</a
          >
        </li>
      </ul>
    </div>
    <div class="ml-5 flex w-[30%] items-center justify-between">
      <input
        #myInput
        type="search"
        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none motion-reduce:transition-none"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="button-addon2"
      />

      <button (click)="getValue()">
        <!--Search icon-->
        <span
          class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700"
          id="basic-addon2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>
    </div>
    <!-- Right elements -->
    <div class="relative flex items-center">
      <!-- Cart Icon -->
      <a
        class="p-1 hover:bg-gray-100"
        routerLink="/user/cart"
      >
        <i class="z-10 flex items-center justify-center text-lg fa-solid fa-cart-shopping"></i>
        <div>Giỏ hàng</div>
        <div
          class="absolute top-0 rounded-3xl bg-red-600 w-[18px] h-[18px] left-[34px] flex items-center justify-center text-white text-xs font-medium"
        >
          {{ cartItemCount }}
        </div>
      </a>

      <!-- Second dropdown container -->
      <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end"
        *ngIf="user && user.avatar && user.avatar.url"
      >
        <button
          mat-button
          (click)="openDialog()"
        >
          <!-- Second dropdown trigger -->
          <a
            class="flex items-center justify-center transition duration-150 ease-in-out hidden-arrow whitespace-nowrap motion-reduce:transition-none"
            id="dropdownMenuButton2"
            role="button"
            data-te-dropdown-toggle-ref
            aria-expanded="false"
          >
            <!-- User avatar -->
            <img
              src="{{ user.avatar.url }}"
              class="rounded-full"
              style="height: 25px; width: 25px"
              alt=""
              appImgDirectiveDirective
            />
          </a>
          <div class="mt-1">Tài khoản</div>
        </button>
      </div>
      <div *ngIf="!user">
        <button
          mat-button
          class="flex-col"
          (click)="openModelAccount()"
        >
          <i class="text-base fa-regular fa-user"></i>
          <div>Tài khoản</div>
        </button>
      </div>
    </div>
  </div>
</nav>
